@import '~/css/core.light.css'; 
@import url("~/platform.css");

button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 20;
}

.title {
    font-size: 30;
    margin: 20;
}

.sectionheader {
    font-size: 25;
    margin: 10;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

Page {
  background-color: white;
  font-size: 15;
}

TextField {
  padding: 10;
  font-size: 13;
}